<!-- 这个页面由于会通过Ajax加载，所以我们不需要实现完整的布局，只需添加.navbar和.page即可-->
<!-- 顶部导航栏 -->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="back link">
				<i class="icon icon-back"></i>
				<span>返回</span>
			</a>
		</div>
		<div class="center sliding">预览视频</div>
		<div class="right">
			<!--<a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>-->
		</div>
	</div>
</div>
<div class="pages">
	<div data-page="viewsVideo" id="viewsVideo" class="page">
		
		<div class="page-content">
			<div class="content-block">
				
			</div>
		</div>
	</div>
</div>